
<body>
<div align="center"  width="100%" style="max-width:350px;" fxFill class="main-div">
        <mat-card class="center" >
            <mat-toolbar color="primary">
               Login Page
              </mat-toolbar>
    
            <form fxLayoutAlign="" fxLayout="column" class="login-form">    
                <mat-form-field  > 
                  <input matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field >
                    <input matInput type="password" placeholder="Password" >
                  </mat-form-field>
                  <button mat-raised-button type="submit">Login</button>
              </form>
              
              
        </mat-card>
    </div>

</body>
    